*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
ul{
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
    /* margin-top: 1rem; */
    margin-right: 1rem;
    gap: 1rem;
}
nav{
    /* height: 5vh; */
    /* display: flex; */
    /* justify-content: space-around; */
    /* padding: 0.5rem; */
}
a{
    /* padding: 0.2rem; */
    margin: 0.5rem;
    color: black;} 

.logo{
    width: 4vw;
}
.nav li:hover{
    border: 1px solid black;
}

.contador{
    display: flex;
    justify-content: center;
    gap: 0.1rem;
}
.button,.count{
    background-color: #0f110f;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button:hover,.count:hover{
    background-color: #1d1f1d;
}
.catalogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.liCatalogo{
    margin: auto;
    width: max-content;
    border: 1px solid black;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.liCatalogo h2{
    text-align: center;
}
.dnone{
    display: none;
}
.d{
    display: block;
}
/* .contador */
/* .nav li */
.nav ul li{
    position: relative;
    float: left;

}
.nav ul a {
    /* display: block; */
}
.nav ul ul {
    display:none;
    /* position:absolute; */
    top:100%;
    left:0;
    background:#eee;
    padding:0;
   }

   .nav ul ul li {
    /* float:none; */
    /* width:150px */
   }

   .nav ul li:hover > ul {
    /* display:block; */
   }
.todos:hover > ul {
    display: block;
}

.itemCart{
    display: flex;
}